$warning: #E0AE00;

.dp-feedback {
	border: 1px solid $gray-300;
	border-radius: $border-radius-lg;
	box-sizing: border-box;
	color: $gray-900;
	font-style: normal;
	font-weight: 500;
	min-height: 320px;

	&.dp-feedback-no-border{
		border: none;
	}

	.dp-feedback-rating {
		position: relative;

		.dp-feedback-icon {
			display: block;
			height: 32px;
			transition: all 0.25s;
			width: 32px;

			svg {
				height: 100%;
				width: 100%;
			}
		}

		label {
			margin: 0;
			padding: 0 5px;
		}

		input {
			display: none;
		}

		input:checked + label,
		label:hover {
			.dp-feedback-icon-1,
			.dp-feedback-icon-2 {
				fill: $danger;
			}

			.dp-feedback-icon-3 {
				fill: $warning;
			}

			.dp-feedback-icon-4 {
				fill: $secondary-dark;
			}

			.dp-feedback-icon-5 {
				fill: $secondary;
			}
		}

		label:hover .dp-feedback-icon {
			cursor: pointer;
			transform: scale(1.3);
		}
	}

	.dp-feedback-form {
		max-width: 500px;
		width: 100%;
	}
}

